/* =========================
   katy-mode.css — общие стили админки
========================= */
h1{
    text-align: center;
    margin-top:30px;
}
body {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #F5F5F7;
}

.corner-image {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    z-index: -1;
    pointer-events: none;
}

/* Левая панель */
#menu {
    width: 200px;
    background: #00354B;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    box-sizing: border-box;
}
#menu .logo {
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu .logo img { max-height: 120%; max-width: 120%; }

/* Кнопки меню и выхода */
.menu-btn, .logout-btn {
    text-align: left;
    
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background: #00354B;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}
.menu-btn:hover { background-color: #147DBA; margin-left: 10px }
.logout-btn:hover { background-color: red; }

/* Центральная зона контента */
#content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    text-align: center;
}