.page-title{
    text-align: center;
    margin: 30px;
}

.news-card-link {
    text-decoration: none;
    color: inherit;
    display: flex;           /* важное: делаем блочным flex */
    flex: 1 1 calc(33% - 20px); /* 3 карточки в ряд с учетом gap */
    max-width: calc(33% - 20px);
}

.news-card {
    display: flex;
    flex-direction: column;
    width: 100%;             /* теперь занимает всю ширину ссылки */
    background: white;
    border-radius: 12px;
    overflow: hidden;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    transition: 0.3s;
}

.news-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.582);
    background-color: #0071E3;
    color: white;
}

/* Сетка карточек */
.news-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
}

/* Верхняя картинка */
.news-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Контент карточки */
.news-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.news-content h2 {
    margin: 0;
    font-size: 1.1rem;
}

.news-intro {
    font-size: 0.95rem;
    color: black;
}
/* при наведении на всю карточку-ссылку */
.news-card-link:hover .news-intro {
    color: white;
}
.news-card-link:hover .news-date {
    color: white;
}

.news-date {
    font-size: 0.85rem;
    color: #888;
    margin-top: auto;      /* ключевой момент: прижимает дату вниз */
    text-align: center;     /* дата слева */
}


/* Адаптация под мобильные */
@media (max-width: 1000px) {
    .news-card-link {
        flex: 1 1 calc(50% - 20px); 
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .news-card-link {
        flex: 1 1 100%;
        max-width: 100%;
    }
}