
<h1>Создание новости</h3>
<form id="create-news-form" enctype="multipart/form-data" class="create-news-form">
    <input maxlength="100" type="text" name="title" placeholder="Заголовок (100 cимволов)" required>
    <textarea maxlength="300" name="intro" placeholder="Короткое описание (300 символов)" required></textarea>
    <textarea maxlength="500" name="text" placeholder="Текст новости (500 символов)" required></textarea>

    <label>Картинка анонса:</label>
    <input type="file" name="preview_image">

    <label>Доп. картинки:</label>
    <input type="file" name="images" multiple>

    <button type="submit" class="save-btn">Обупликовать</button>
</form>




