{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
    <form method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Заголовок" required><br><br>

        <textarea name="intro" placeholder="Короткое описание" maxlength="500" required></textarea>

        <textarea name="text" placeholder="Текст новости" required></textarea><br><br>

        <label>Картинка анонса:</label>
        <input type="file" name="preview_image"><br><br>

        <label>Картинки статьи:</label>
        <input type="file" name="images" multiple><br><br>

    <button type="submit">Создать новость</button>
</form>
{% endblock %}