{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
    <div class="content">
        <div class="content-1">
            <div class="explanation">
                <h1>Что такое ЦОПП?</h1>
                <P>Центр опережающей профессиональной подготовки Республики Крым <span style="color:#0071E3;">ЦОПП РК</span>  - это агрегатор и оператор 
                    ресурсов Крыма для профессиональной ориентации, ускоренного профессионального обучения, подготовки, переподготовки,
                    повышения квалификации всех категорий граждан по наиболее востребованным, новым и перспективным профессиям и компетенциям</P>
            </div>
        </div>

        <div class="for_all">
            <div class="школьникам">
                <h1>Школьникам</h1>
                <p>Профориентация, информация о профессиях и компетенциях завтрашнего дня, свой собственный первый стартап</p>
            </div>
                
            <div class="студентам">
                <h1>Студентам</h1>
                <p>Информация о компетенциях, дополняющих базовое образование, навыки для полноценного выхода на рынок труда, индивидуальная траектория обучения и развития</p>
            </div>
            <div class="работодателям">
                <h1>Работодателям</h1>
                <p>Индивидуальные программы переподготовки сотрудников, повышение квалификации сотрудников в соответствии с запросами рынка</p>
            </div>
        </div>
    

    <div class="projects">
        <div id="project-bvb">
            <img src="{{ url_for('static', filename='images/logo.CdRAU4KK.svg') }}" 
                alt="Билет в будущее" 
                class="project-logo">
            <!-- <h2>Билет в будущее</h2> -->
            <hr>
            <p>это проект, который объединяет школьников, педагогов и родителей, в уникальном сотрудничестве, направленном на поддержку интересов, 
                способностей и целей каждого участника.</p>
            <p>Ты сможешь получить рекомендации по выбору пути профессионального развития по итогам тестирования и участия в практических пробах после того, как заполнишь тесты.
                 Этими результатами можно пользоваться, чтобы лучше понять и выбрать, какие профессии подходят именно для тебя<br>Подробнее про ценность «Билета в будущее»
                 можно почитать на главной странице проекта https://bvbinfo.ru</p>

                 <a href="https://bvbinfo.ru" target="_blank" class="project-btn">
                    Получить билет
                </a>
        </div>

        <div id="project-sdz">
            <img src="{{ url_for('static', filename='images/sodzan.svg') }}" 
                alt="Билет в будущее" 
                class="project-logo">
            <!-- <h2>Содейсвие занятости</h2> -->
            <hr>
            <p>
                Это государственный проект, цель которого — помочь гражданам повысить квалификацию и востребованность на рынке труда, 
                сменить профессию или открыть своё дело в качестве ИП или самозанятого.
            </p>

            <h3>Кто может участвовать в проекте:</h3>

            <ul class="project-list">
                <li>Граждане в возрасте 50 лет и старше, а также предпенсионного возраста</li>
                <li>Женщины в отпуске по уходу за ребёнком до 3 лет</li>
                <li>Женщины, не состоящие в трудовых отношениях и имеющие детей от 0 до 7 лет</li>
                <li>Безработные граждане, зарегистрированные в службе занятости</li>
                <li>Работники, находящиеся под риском увольнения</li>
            </ul>
            <a href="#" target="_blank" class="project-btn">
                    Подробнее
                </a>
        </div>

        <div id="project-bck">
            <h2>Базовый центр карьеры</h2>
            <!-- содержимое -->
        </div>
    </div>
    
    
    </div>
{% endblock %}